    #walking
	{
        position:relative;
		top:0px;
		background: url(images/hiring.JPG);
		width:550px;
		height:150px;		
		animation:walking_animation 0s steps(12) infinite,move_forward 50s linear infinite;
	}

    @keyframes walking_animation
	{
		0%{background-position:0px;}
		100%{background-position:3000px;}
	}

    @keyframes move_forward
	{
		0%{transform:translateX(0px);}
		100%{transform:translateX(1000px);}
	}

    div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }