<!DOCTYPE html>
<html>

<head>
  <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
  <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script data-require="angular.js@1.6.6" data-semver="1.6.6" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
  <link rel="stylesheet" href="mystyle.css">
  <script>
    (function() {

      angular.module("testApp", ['ui.bootstrap']).controller('testCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.userData = undefined;
        var req = {
            method: 'GET',
            url: 'https://renil28.github.io/Angular-JS-SecurityPersonnelData/securitydata.json',
            headers: { 'Content-Type': 'application/json' }
        };

        $http(req).then(function (response) {
            $scope.userData  = response.data.securityemployee;
            $scope.userData2 = response.data.securityhead;
            $scope.userData3 = response.data.securityagency;
            $scope.userData4 = response.data.cctv;
            $scope.userData5 = response.data.admin;
            $scope.today = new Date();
        });
      }]);


    }());
  </script>
  <style>
    table {
      width: 50%;
      margin-left: 15px;
    }
    th, td {
      text-align: left;
      padding-left: 8px;
    }
    th {
      background-color: #cc4e4e;
      color: white;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}
    
    h2{
      margin-left: 15px;
    }
    p{
      margin-left: 15px;
    }
    input{
      margin-left: 10px;
    }
  </style>
</head>

<body ng-app="testApp">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="home.html">FORENZA</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="home.html">HOME</a></li>
          <li><a href="#NEWS">NEWS</a></li>
          <li><a href="contactuspage.html">CONTACT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">SERVICES</a></li>
              <li><a href="aboutus.html">ABOUT US</a></li>
              <li><a href="#">RECRUITEMENT DRIVE</a></li> 
            </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div>
    <h2>Security Personnel Database</h2>
  </div>
  <div ng-controller="testCtrl">
    <p>Search:<input type="text" ng-model="test"></p>
    <form name="commonForm">
      <table class="table">
        <tr>
          <th> Name </th>
          <th> Email </th>
          <th> Date of Birth </th>
          <th> Join Date </th>
          <th> Phone </th>
          <th> Security Type </th>
        </tr>
        <tr ng-repeat="employee in userData | filter : test">
          <td> {{employee.firstName}} {{employee.lastName}}</td>
          <td> {{employee.email | lowercase}}</td>
          <td> {{employee.dob }}</td>
          <td> {{employee.joindate}}</td>
          <td> {{employee.phone}}</td>
          <td> {{employee.type}}</td>
        </tr>
      </table>
      <br>
    </form>
  </div>

  <div>
    <h2>Security Head Database</h2>
  </div>
  <div ng-controller="testCtrl">
    <p>Search:<input type="text" ng-model="test"></p>
    <form name="commonForm">
      <table class="table">
        <tr>
          <th> Head Name </th>
          <th> Email </th>
          <th> Date of Birth </th>
          <th> Join Date </th>
          <th> Phone </th>
          <th> Current Status </th>
        </tr>
        <tr ng-repeat="employee in userData2 | filter : test">
          <td> {{employee.firstName}} {{employee.lastName}}</td>
          <td> {{employee.email | lowercase}}</td>
          <td> {{employee.dob}}</td>
          <td> {{employee.joindate}}</td>
          <td> {{employee.phone}}</td>
          <td> {{employee.role}}</td>
        </tr>
      </table>
      <br>
    </form>
  </div>

  <div>
    <h2>Security Agency Database</h2>
  </div>
  <div ng-controller="testCtrl">
    <p>Search:<input type="text" ng-model="test"></p>
    <form name="commonForm">
      <table class="table">
        <tr>
          <th> Agency Name </th>
          <th> Agency License </th>
          <th> Phone </th>
          <th> Recruitment Status </th>
        </tr>
        <tr ng-repeat="employee in userData3 | filter : test">
          <td> {{employee.agencyName}}</td>
          <td> {{employee.agencylicense}}</td>
          <td> {{employee.phone}}</td>
          <td> {{employee.recruits}}</td>
        </tr>
      </table>
      <br>
    </form>
  </div>

  <div>
    <h2>CCTV Camera Database</h2>
  </div>
  <div ng-controller="testCtrl">
    <p>Search:<input type="text" ng-model="test"></p>
    <form name="commonForm">
      <table class="table">
        <tr>
          <th>Camera ID </th>
          <th>Camera Floor</th>
          <th>Start Time</th>
          <th>Stop Time</th>
        </tr>
        <tr ng-repeat="employee in userData4 | filter : test">
          <td> {{employee.id}}</td>
          <td> {{employee.floor}}</td>
          <td> {{employee.starttime}}</td>
          <td> {{employee.stoptime | uppercase}}</td>
        </tr>
      </table>
      <br>
    </form>
  </div>

  <div>
    <h2>Admin Database</h2>
  </div>
  <div ng-controller="testCtrl">
    <p>Search:<input type="text" ng-model="test"></p>
    <form name="commonForm">
      <table class="table">
        <tr>
          <th> Admin Name </th>
          <th> Department </th>
          <th> Allocated Budget</th>
          <th> Spent Budget </th>
          <th> Budget Remaining </th>
          <th> Database Last Accessed </th>
        </tr>
        <tr ng-repeat="employee in userData5 | filter : test">
          <td> {{employee.firstName}} {{employee.lastName}}</td>
          <td> {{employee.dept}}</td>
          <td> {{employee.budgetalloc | currency}}</td>
          <td> {{employee.budgetspent | currency}}</td>
          <td> {{employee.budgetrem   | currency}}</td>
          <td> {{ today | date : "dd.MM.y" }}</td>
        </tr>
      </table>
      <br>
    </form>
  </div>

</body>

</html>